[Desktop Entry]
Version=1.0
Type=Link
Name=1.2 Structure and Interpretation of Computer Programs
Comment=
Icon=user-bookmarks
URL=https://sarabander.github.io/sicp/html/1_002e2.xhtml#g_t1_002e2
