[Desktop Entry]
Version=1.0
Type=Link
Name=2.1 Structure and Interpretation of Computer Programs
Comment=
Icon=user-bookmarks
URL=https://sarabander.github.io/sicp/html/2_002e1.xhtml#g_t2_002e1
