[Desktop Entry]
Version=1.0
Type=Link
Name=Bill the Lizard: The SICP Challenge
Comment=
Icon=user-bookmarks
URL=https://billthelizard.blogspot.com/2009/10/sicp-challenge.html
