[Desktop Entry]
Version=1.0
Type=Link
Name=How to install mit-scheme ubuntu package on Ubuntu 20.04/Ubuntu 18.04/Ubuntu 19.04/Ubuntu 16.04
Comment=
Icon=user-bookmarks
URL=https://zoomadmin.com/HowToInstall/UbuntuPackage/mit-scheme
