[Desktop Entry]
Version=1.0
Type=Link
Name=Structure and Interpretation of Computer Programs
Comment=
Icon=user-bookmarks
URL=https://mitpress.mit.edu/sites/default/files/sicp/full-text/book/book-Z-H-11.html#%_sec_1.2.5
